/* 
 * some sort of margin around the whole body...? also, font family set to Lato
 */

 body {
  margin: 0px !important;

  font-family: 'Lato';
}

/*
 * Class to get rid of inherited margins from bootstrap
 */

.noMargin {
  margin: 0px !important;
}

.noPaddingBottom {
  padding-bottom: 0px !important;
}

.noUnderline {
  text-decoration: none;
}

/*
 * bg colors classes
 */

.bgLexisRed {
  background-color:#CC0033;
}

.bgDarkRed {
  background-color:#a50029;
}

.whiteText {
  color: white !important;
}

.textDarkGrey {
  color: #666666 !important;
}

.textLexisRed {
  color: #cc0033 !important;
}

.textLightGrey {
  color: #999999 !important;
}

.navShadow {
  box-shadow: 0 2px 0px 0 rgba(166, 166, 166, .05);
}

.dropShadow {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
}

.headerButton {
  background-color: transparent;
  color: white;
  border-radius: 50px;
  border-color: white;
  
  width: 80px;
}

.headerButton:hover {
  background-color: white;
  color: #333;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: #cc0037;
/*   -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); */
}
.site-header a {
  color: #fff;
  transition: ease-in-out color .15s;
}
/* .site-header a:hover {
  color: #999;
  text-decoration: none;
} */

/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
